.cover {
  background: linear-gradient(#FFF, transparent 50%),
              linear-gradient(0deg, #5A240F, transparent 10%),
              url('../images/color_window.jpg') no-repeat center;
  background-size: cover;
  min-height: 800px;
  width: 100%;
  z-index: 0;
  margin-top: -122px;
}

.about-me {
  font-family: 'Cardo', serif;
  font-size: 1.75em;
  width: 60%;
  color: #111;
  margin-top: 200px;
}

.about-me p {
  margin-bottom: 0;
}

img {
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

nav {
  font-size: 1.5em;
  margin-top: 20px;
  z-index: 100;
}

.navbar-brand {
  font-size: 1.5em;
}

nav a {
  color: #555;
}

.navbar-toggle .icon-bar {
  background-color: #555;
}

.nav li a:hover,
.nav li a:focus {
  color: chocolate;
  background-color: transparent;
  border-bottom: solid 2px deepskyblue;
}

.nav li a:focus {
  outline: none;
}

.navbar-brand:hover {
  color: chocolate;
  border-bottom: solid 2px deepskyblue;
}

.footer {
  height: 100px;
  background: linear-gradient(#5A240F, lightgrey 80%, #FFF);
  margin: 50px 0;
}

.blend-footer {
  height: 500px;
  background: linear-gradient(#5A240F, lightgrey 80%, #FFF);
}

.pronunciation {
  font-size: 0.7em;
  margin-left: 20px;
  margin-top: 10px;
}

.line {
  display: inline-block;
}

.part-of-speech {
  margin-left: 20px;
}

.definition {
  font-size: 0.7em;
}

.testing-saves-time {
  width: 50%;
  font-weight: 300;
  font-size: 1.35em;
  letter-spacing: 0.4px;
  color: #111;
}

.divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(90deg, #FFF, lightgrey, #FFF);
}

.headline {
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 2em;
}

p {
  margin: 20px 0;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .testing-saves-time {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .testing-saves-time {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .testing-saves-time {
    font-size: 1.1em;
    width: 95%;
  }
}

pre {
  padding-top: 20px !important;
}
